@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Safe zone variables */
	--sat: env(safe-area-inset-top, 0);
	--sar: env(safe-area-inset-right, 0);
	--sab: env(safe-area-inset-bottom, 0);
	--sal: env(safe-area-inset-left, 0);
}

html {
	@apply bg-background;
	@apply h-full;
	@apply w-full;
	/* @apply overflow-hidden; */
	overscroll-behavior: none;
}

body {
	@apply h-full;
	@apply w-full;
	@apply bg-background;
	/* @apply overflow-hidden; */
	overscroll-behavior: none;
}

body > #inner-body {
	@apply h-full;
	@apply w-full;
	@apply flex;
	@apply flex-col;
	@apply flex;
	@apply flex-col;
	@apply relative;
	/* @apply overflow-hidden; */
	overscroll-behavior: none;
}

* {
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
}

.green-gradient {
	@apply bg-gradient-to-br;
	@apply from-green-500;
	@apply to-green-500;
}

.link {
	text-decoration: none !important;
}
